[Unit]
Description=TXQ

[Service]
PIDFile=/tmp/TXQ-99.pid
User=root
Group=root
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/ubuntu/txq
ExecStart=/home/ubuntu/.nvm/versions/node/v10.19.0/bin/node ./build/bootstrap/index.js
EnvironmentFile=/home/ubuntu/txq/.env
LimitNOFILE=400000
[Install]
WantedBy=multi-user.target